<strong>Olá, {{ organizer }}</strong>
<p>Nova inscrição para o meetup: <strong>{{ meetup }}</strong></p>
<p>
  <strong>Usuário: </strong> {{ user }}<br />
  <strong>Email: </strong> {{ email }} <br />
  <br />
  <small>O evento está marcado para o {{ date }} </small> <br />
</p>
