<strong>Hi, {{ organizer }}</strong>
<p>New subscription for meetup: <strong>{{ meetup }}</strong></p>
<p>
  <strong>User: </strong> {{ user }}<br />
  <strong>Email: </strong> {{ email }} <br />
  <br />
  <small>The event is scheduled for {{ date }} </small> <br />
</p>
